<section class="container-profiles">
    <div class="container-list-profiles">
        <div class="list-profiles-content">
            <h1 class="label-profile">
                ¿Who is watching?
            </h1>
            <ul class="choose-profile">
                <li class="profile">
                    <div class="content-profile">
                        <a href="#/home" class="profile-link">
                            <div class="avatar-profile">
                                <img src="./assets/img/profile.png" alt="Profile icon" class="icon-profile">
                                <span class="name-profile">Parasite #1</span>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="button-profile-content">
            <button class="button-profile">Admin profiles</button>
        </div>
    </div>
</section>